<template>
  <footer class="basement">
    <div class="basement__item">
      <ul>
        <li><router-link class="navigation__link" to="/styleguide">Styleguide</router-link></li>
      </ul>
    </div>
    <div class="basement__item">
      <p class="basement__text">{{finalText}}</p>
      <p class="basement__text">{{copyrightText}}</p>
    </div>
  </footer>
</template>

<script>

export default {
  name: "basement",
  data() {
    return {
      copyrightText: "Copyright Nazar Linovetskiy, 2017",
      finalText: "Make with ❤️ on Vue.js"
    }
  }
}

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

  .basement {
    .flex-display();
    .flex-wrap(wrap);
    .justify-content(space-between);
    .align-items(center);
    padding: 30px 7%;
    border-top: 1px solid #e5e6eb;

    &__text {
      font-size: 14px;
      color: #626161;
    }
  }

</style>
