<template>
  <div class="intro">
    <h1 class="intro__title">{{topic}}</h1>
    <div class="intro__content">{{desc}}</div>
  </div>
</template>

<script>

export default {
  name: "intro",
  props: {
    topic: {
      type: String,
      default: 'Title'
    },
    desc: {
      type: String,
      default: 'Content here...'
    }
  }
}

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

  @introTextColor: @textColorLight;

  .intro {
    width: 74%;
    margin: 0 auto;

    &__content {
      font-size: 20px;
      color: @introTextColor;
    }
  }


</style>
