<template>
  <div class="logo">
    <span class="logo__text">Nazar Linovetskiy</span>
  </div>
</template>

<script>

  export default {
    name: "logo",
    data() {
      return {}
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

  @logoTextBgColor: @headersColor;

  .logo {

    &__text {
      font-family: 'Bitter', serif;
      font-size: 28px;
      line-height: 46px;
      background: @logoTextBgColor;
      color: #fff;
    }
  }

</style>
