<template>
  <div class="overlay" v-if="display">Overlay</div>
</template>

<script>

  export default {
    name: "overlay",
    data() {
      return {
        display: false
      }
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

</style>
