<template>
  <header class="pageheader">
    <div class="pageheader__item">
      <navigation></navigation>
    </div>
    <div class="pageheader__item">
      <logo></logo>
    </div>
  </header>
</template>

<script>

  import Navigation from '../several/navigation/Navigation'
  import Logo from '../several/Logo'

  export default {
    name: "pageheader",
    data() {
      return {}
    },
    components: {
      Navigation,
      Logo
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

  .pageheader {
    .flex-display();
    .flex-wrap(wrap);
    .justify-content(space-between);
    .align-items(center);
    padding: 90px 7% 0;
  }

</style>
