<template>
  <main class="main">
    <div class="main__item">
      <h1>Styleguide</h1>
      <p>This page is under construction.</p>
      <p>Go back to the <router-link class="navigation__link" to="/">Home Page</router-link>.</p>
    </div>
  </main>
</template>

<script>

  export default {
    name: "styleguide",
    data() {
      return {}
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

</style>
