<template>
  <div class="showcase">
    <div class="showcase__item">
      <header class="showcase__header">
        <h3>My name is Nazar Linovetskiy and I am front-end web developer</h3>
      </header>
      <div class="showcase__main">
        <p>Some description...</p>
      </div>
      <footer class="showcase__footer">
        <button type="button" name="button" class="btn">Button</button>
      </footer>
    </div>
    <div class="showcase__item">
      <header class="showcase__header">
        <h3>My name is Nazar Linovetskiy</h3>
      </header>
      <div class="showcase__main">
        <p>Some description...</p>
      </div>
      <footer class="showcase__footer">
        <button type="button" name="button" class="btn">Button</button>
      </footer>
    </div>
    <div class="showcase__item">
      <header class="showcase__header">
        <h3>My name is Nazar Linovetskiy and I am front-end web developer</h3>
      </header>
      <div class="showcase__main">
        <p>My name is Nazar Linovetskiy and I am front-end web developer. I specialise in intuitive, easy to use and beautiful responsive websites for projects both large and small that work on any type and size of device.</p>
      </div>
      <footer class="showcase__footer">
        <button type="button" name="button" class="btn">Button</button>
      </footer>
    </div>
    <div class="showcase__item">
      <header class="showcase__header">
        <h3>My name is</h3>
      </header>
      <div class="showcase__main">
        <p>Some description...</p>
      </div>
      <footer class="showcase__footer">
        <button type="button" name="button" class="btn">Button</button>
      </footer>
    </div>
  </div>
</template>

<script>

  export default {
    name: "showcase"
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../../less/vars.less";
  @import (reference) "../../../less/mixins.less";

  .showcase {
    .flex-display();
    .flex-wrap(wrap);
    .justify-content(space-between);
    .align-items(stretch);

    &__item {
      .flex-display();
      .flex-direction(column);
      .justify-content(space-between);
      .gradient(linear; #D6D6D6, #EAECC6);
      width: 50%;
      padding: 34px 10px 34px 34px;
    }

    &__header {
    }

    &__main {
    }

    &__footer {
    }
  }

</style>
