<template>
  <button class="navigation__button" type="button" v-if="display">YO!</button>
</template>

<script>

  export default {
    name: "navigationbutton",
    data() {
      return {
        display: false
      }
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../../less/vars.less";
  @import (reference) "../../../less/mixins.less";

</style>
