<template>
  <ul class="navigation__list" v-if="display">
    <navigationitem
      v-for="item in links"
      v-bind:linkInfo="item"
      v-bind:key="item.id">
    </navigationitem>
  </ul>
</template>

<script>

  import Navigationitem from './Navigationitem'

  export default {
    name: "navigationlist",
    data() {
      return {
        display: true,
        links: [
          { id: 0, to: "/", text: "Home" },
          { id: 1, to: "/showcase", text: "Showcase" },
          { id: 2, to: "/music", text: "Music" },
          { id: 3, to: "/about", text: "About" }
        ]
      }
    },
    components: {
      Navigationitem
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../../less/vars.less";
  @import (reference) "../../../less/mixins.less";

</style>
