<template>
  <li class="navigation__item">
    <router-link class="navigation__link" v-bind:to="linkInfo.to">{{linkInfo.text}}</router-link>
  </li>
</template>

<script>

  export default {
    name: "navigationitem",
    props: ['linkInfo'],
    data() {
      return {}
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../../less/vars.less";
  @import (reference) "../../../less/mixins.less";

</style>
