<template>
  <nav class="navigation">
    <navigationbutton></navigationbutton>
    <navigationlist></navigationlist>
  </nav>
</template>

<script>

  import Navigationbutton from './Navigationbutton'
  import Navigationlist from './Navigationlist'

  export default {
    name: "navigation",
    data() {
      return {}
    },
    components: {
      Navigationbutton,
      Navigationlist
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../../less/vars.less";
  @import (reference) "../../../less/mixins.less";

</style>
