<template>
  <main class="main">
    <div class="main__item">
      <intro
      topic="About me"
      desc="My name is Nazar Linovetskiy and I am front-end web developer. I specialise in intuitive, easy to use and beautiful responsive websites for projects both large and small that work on any type and size of device."
      ></intro>
    </div>
  </main>
</template>

<script>

  import Intro from '../several/Intro'

  export default {
    name: "about",
    data() {
      return {}
    },
    components: {
      Intro
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

</style>
