<template>
  <main class="main">
    <div class="main__item">
      <intro
      topic="Hello"
      desc="My name is Nazar Linovetskiy and I am front-end web developer. I specialise in intuitive, easy to use and beautiful responsive websites for projects both large and small that work on any type and size of device."
      ></intro>
    </div>
    <div class="main__item">
      <h2 class="topic"><span class="topic__inner">Showcase</span></h2>
      <showcase></showcase>
    </div>
    <div class="main__item">
      <h2 class="topic"><span class="topic__inner">Last release</span></h2>
      <showcase></showcase>
    </div>
  </main>
</template>

<script>

  import Intro from '../several/Intro'
  import Showcase from '../several/showcase/Showcase'

  export default {
    name: "home",
    data() {
      return {}
    },
    components: {
      Intro,
      Showcase
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

</style>
