<template>
  <main class="main">
    <div class="main__item">
      <intro
      topic="Music"
      desc="Be)true!"
      ></intro>
    </div>
  </main>
</template>

<script>

  import Intro from '../several/Intro'

  export default {
    name: "music",
    data() {
      return {}
    },
    components: {
      Intro
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

</style>
