<template>
  <main class="main">
    <div class="main__item">
      <intro
      topic="Page not found"
      desc="Go back home."
      ></intro>
    </div>
  </main>
</template>

<script>

  import Intro from '../several/Intro'

  export default {
    name: "pagenotfound",
    data() {
      return {}
    },
    components: {
      Intro
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

</style>
