<template>
  <main class="main">
    <div class="main__item">
      <intro
      topic="Showcase"
      desc="A few cool examples of what I like to do."
      ></intro>
    </div>
    <div class="main__item">
      <showcase></showcase>
    </div>
  </main>
</template>

<script>

  import Intro from '../several/Intro'
  import Showcase from '../several/showcase/Showcase'

  export default {
    name: "showcasepage",
    data() {
      return {}
    },
    components: {
      Intro,
      Showcase
    }
  }

</script>

<style lang="less" scoped>

  @import (reference) "../../less/vars.less";
  @import (reference) "../../less/mixins.less";

</style>
