<template>
  <div class="app" v-bind:class="[viewport.name, viewport.mode]">
    <div class="wrapper">
      <pageheader></pageheader>
      <router-view></router-view>
      <basement></basement>
    </div>
    <overlay></overlay>
  </div>
</template>

<script>

  import Pageheader from './components/several/Pageheader'
  import Basement from './components/several/Basement'
  import Overlay from './components/several/Overlay'

  export default {
    name: 'app',
    data() {
      return {
        viewport: {
          name: "",
          mode: "",
          width: null,
          height: null,
          points: {
            giant: 1920,
            large: 1600,
            normal: 1280,
            middle: 1024,
            small: 768,
            smallest: 460,
            old: 320
          }
        }
      }
    },
    methods: {
      getViewportWidth: function() {
        return Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
      },
      getViewportHeight: function() {
        return Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
      },
      getViewportName: function (int) {
        if(!int) return;
        var p = this.viewport.points;
        if (int >= p.giant) {
          return "is--ld";
        } else if (int < p.giant && int >= p.large) {
          return "is--md";
        } else if (int < p.large && int >= p.normal) {
          return "is--sd";
        } else if (int < p.normal && int >= p.middle) {
          return "is--lt";
        } else if (int < p.middle && int >= p.small) {
          return "is--st";
        } else if (int < p.small && int >= p.smallest) {
          return "is--lm";
        } else if (int < p.smallest && int >= p.old) {
          return "is--mm";
        } else {
          return "is--sm";
        }
      },
      getViewportMode: function (int) {
        if(!int) return;
        var p = this.viewport.points;
        return int > p.middle ? "is--desktop" : "is--mobile";
      },
      updateViewportInfo: function() {
        this.viewport.width = this.getViewportWidth();
        this.viewport.height = this.getViewportHeight();
        this.viewport.name = this.getViewportName( this.viewport.width );
        this.viewport.mode = this.getViewportMode( this.viewport.width );
      }
    },
    created: function () {
      this.updateViewportInfo();
      window.addEventListener('resize', this.updateViewportInfo);
    },
    beforeDestroy: function () {
      window.removeEventListener('resize', this.updateViewportInfo);
    },
    components: {
      Pageheader,
      Basement,
      Overlay
    }
  }

</script>

<style lang="less">

  @import (reference) "./less/vars.less";
  @import (reference) "./less/mixins.less";

  html, body, div, span, applet,
  object, iframe,
  h1, h2, h3, h4, h5, h6, p,
  blockquote, pre,
  a, abbr, acronym, address, big,
  cite, code, del, dfn, em,
  img, ins, kbd, q, s,
  samp, small, strike,
  strong, sub, sup, tt,
  var, dl, dt, dd, ol, ul,
  li, fieldset, form, label,
  legend, table, caption,
  tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  html {
    background: @extBgColor;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Lato', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @textColorDefault;
    font-size: 16px;
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
    color: @headersColor;
  }

  h1 {
    font-size: 54px;
    line-height: 80px;
  }

  h2 {
    font-size: 28px;
    line-height: 46px;
  }

  h3 {
    font-size: 20px;
    line-height: 36px;
  }

  .wrapper {
    background: @intBgColor;
    max-width: 1240px;
    margin: 0 auto;
  }

  .main {
    padding: 90px 7% 60px;

    &__item {
      margin: 0 0 60px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .topic {

    &__inner {
      background: @headersColor;
      color: #fff;
    }
  }
</style>
